<% @show_nav = true %>
<!-- organizer dashboard for all their events -->
<div class="debug container ta-cen h-45">

  <h1 class="bg-gray">Welcome, <%=@user.username%>!</h1>



  <div class="">
    <h2 class="ta-l">Your Events</h2>

    <table class="pure-table pure-table-horizontal">
      <thead>
          <tr>
              <th class="ta-cen">Title</th>
              <th class="ta-cen">Description</th>
              <th class="ta-cen">Status</th>
              <th class="ta-cen">Created at</th>
              <th class="ta-cen"></th>
              <th class="ta-cen"></th>
          </tr>
      </thead>

      <tbody>
        <% @events.each do |event|  %>
          <tr>
              <td><a href="/user/<%=current_user.id%>/event/<%=event.id%>"><%= event.title%></a></td>

              <td><%= event.description%></td>
              <td>
                <% if event.created %>
                    <i class="fa fa-calendar-plus-o c-blue"></i>
                    <% event.update_attributes(:started => false, :finished => false)%>
                <% elsif event.started%>
                    <i class="fa fa-calendar-check-o c-green"></i>
                    <% event.update_attributes(:created => false, :finished => false)%>
                <% else %>
                    <i class="fa fa-calendar-times-o c-red"></i>
                    <% event.update_attributes(:created => false, :started => false, :finished => true)%>
                <%end%>
              </td>
              <td><%= event.created_at%></td>
              <td><i class="fa fa-trash"></i></td>
              <td><i class="fa fa-pencil-square-o"></i></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <div class="legend ta-r mt-1">
    <span class="m-1"><i class="fa fa-calendar-plus-o c-blue"></i> Event has been created</span>
    <span class="m-1"><i class="fa fa-calendar-check-o c-green"></i> Event has started</span>
    <span class="m-1"><i class="fa fa-calendar-times-o c-red"></i> Event is finished</span>
  <div>



    <div class="debug span-6-d ma-0 mb-15 mt-5">
      <button id="create-user-button" class="pure-button pure-button-primary button">Create Event</button>

      <form id="create_user_form" action="/user/<%=current_user.id %>/create" method="post" class="pure-form pure-form-aligned form">
        <div class="pure-control-group">
          <p>Event Title:</p>
          <input type="text" name="title" placeholder="Event Title" class="w-20">
        </div>
        <div class="pure-control-group">
          <p>Description:</p>
          <input type="text" name="description" placeholder="Event Description" class=" w-20">
        </div>
        <p>Subjects to be sorted on: </p>
        <div class="pure-control-group">
          <input type="text" name="subject1" placeholder="Subject 1">
        </div>
        <div class="pure-control-group">
          <input type="text" name="subject2" placeholder="Subject 2">
        </div>
        <div class="pure-control-group">
          <input type="text" name="subject3" placeholder="Subject 3">
        </div>
        <div class="pure-control-group">
          <input type="text" name="subject4" placeholder="Subject 4">
        </div>
        <div class="pure-control-group">
          <input type="text" name="subject5" placeholder="Subject 5">
        </div>
        <input type="submit" value="Create Event" class="pure-button pure-button-primary">
        <button class="pure-button pure-button-primary cancel">Cancel</button>
      </form>
  </div>
</div>
  </div>
</div>