

<h1> <%= @event.title%> has started. </h1>
<h2> Groups listed below <h2>

<div id="group_list">
  <ol>
  <% @groups.each do |group| %>
      <li>
      <%= group.name %>
      <% group.students.each do |student|  %>
      <ul>
        <li><%= student.name %></li>
          <li>
      <div class="base" </div>
    <% student.categories.each do |category| %>
      <% if category.rating == "advanced" %>
        <div class="advanced"> </div>
      <% end %>
    <% end %>
  </li><br>
    </ul>
      <% end %>
  <% end %>
  </ol>
</div>

<form id="start_event "action="/user/<%=current_user.id %>/event/<%= @event.id %>" method="post">
<inut type="submit" value="Start Event">
</form>

