<h1><%= @event.title %></h1>

<% @event.groups.each do |group| %>
  <%= group.name %>
  <ul>
  <% group.students.each do |student| %>
    <li>
    <%= student.name %>
    </li>
    <% end %>
  </ul>
  <form action="/events/<%=@event.id%>/groups/<%=group.id%>" method = "post">
    <input type = "text" name="email" placeholder="Email">
    <input type="submit" value="Enter Group">
  </form><br>
<%end%>

<%= @incorrect_password %>
