
<div id="logo_small"> 
	<a href="http://imgur.com/IC0hEnt"><img src="http://i.imgur.com/IC0hEnt.png" title="source: imgur.com"/></a>
</div>
<h1><%= @event.title %></h1>

<% @event.groups.each do |group| %>
  <%= group.name %>
  <form action="/events/<%=@event.id%>/groups/<%=group.id%>" method = "post">
    <input type = "text" name="password" placeholder="Email">
    <input type="submit" value="Enter Group">

  </form>
<%end%>

<%= @incorrect_password %>
